<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid navbar-collapse">
        <div class="navbar-nav">
            <% if (isUser) { %>
                <a class="navbar-brand" href="/order">Order</a>
            <% } else { %>
                <a class="navbar-brand" href="/login">Login</a>
            <% } %>
            <% if (isAdm) { %>
                <a class="nav-link" href="/foods">Foods</a>
                <a class="nav-link" href="/events">Events</a>
                <a class="nav-link" href="/users">Users</a>
            <% } %>
        </div>
        <div class="navbar-nav">
            <% if (isUser) { %>
                <a class="nav-link" href="/settings">Settings</a>
                <a class="nav-link" href="/logout">Log out</a>
            <% } else { %>
                <a class="nav-link" href="/register">Register</a>
            <% } %>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col" align="center">
        <img src="/images/logo.png" alt="logo" style="margin-bottom: 50px;">
    </div>
</div>
<% if (error.length > 0) { %>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-danger">
                <% error.forEach((item) => { %>
                    <p><%= item %></p>
                <% }) %>
            </div>
        </div>
    </div>
<% } %>
<% if (info.length > 0) { %>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-info">
                <% info.forEach((item) => { %>
                    <p><%= item %></p>
                <% }) %>
            </div>
        </div>
    </div>
<% } %>