<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid navbar-collapse">
        <div class="navbar-nav">
            <a class="navbar-brand" href="/login">Login</a>
            <a class="navbar-brand" href="/order">Order</a>
            <a class="nav-link" href="/foods">Foods</a>
            <a class="nav-link" href="/events">Events</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/register">Register</a>
            <a class="nav-link" href="/logout">Log out</a>
        </div>
        <!-- Logged in end -->
    </div>
</nav>
<div class="row">
    <div class="col" align="center">
        <img src="/images/logo.png" alt="logo" style="margin-bottom: 50px;">
    </div>
</div>