<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Forgot your password?</h2>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary btn-block" style="margin-right: 10px;">Send e-mail</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>