<% include ./partials/header %>
<div class="container">
    <% if (typeof info !== 'undefined') { %>
        <div class="alert alert-info">
            <%= info %>
        </div>
    <% } %>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Forgot your password?</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary btn-block" style="margin-right: 10px;">Reset password</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>