<% include ./partials/header %>
<div class="row">
    <div class="col-md-4 offset-md-1">
        <h2>New Food</h2>
        <form method="POST">
            <div class="form-group">
                <label for="name">Food name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                value="<%= (typeof food !== 'undefined') ? food.name : '' %>">
            </div>
            <div class="form-group">
                <label for="description">Description</label><br>
                <textarea class="form-control" name="description" id="description"><%= (typeof food !== 'undefined') ? food.description : '' %></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Add Food</button>
        </form>
    </div>
</div>
<% include ./partials/footer %>