<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Register</h2>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail">E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleRoomNumber">Room Number</label>
                    <input type="text" class="form-control" id="exampleRoomNumber" placeholder="Room Number">
                </div>
                <button type="submit" class="btn btn-primary btn-block" style="margin-right: 10px;">Register</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>