<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Register</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="room">Room Number</label>
                    <input type="text" class="form-control" id="room" name="room" placeholder="Room Number">
                </div>
                <button type="submit" class="btn btn-primary btn-block" style="margin-right: 10px;">Register</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>